<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Dialog</title>
<script src="/framework/our.js"></script>
<style>
body { margin: 0; height: 1000px; background: url(bg.png); }
button { display: block; margin-bottom: 20px; padding: 10px 15px; font-size: 14px; }
.dialog .dialog_wrapper { position: relative; width: 400px; height: 300px; }
.dialog .b_tl,
.dialog .b_tr,
.dialog .b_bl,
.dialog .b_br,
.dialog .b_t,
.dialog .b_b,
.dialog .b_l,
.dialog .b_r { position: absolute; }
.dialog .b_tl { left: -20px; top: -50px; width: 20px; height: 50px; background: url(dialog_bg_1.png) no-repeat; -background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod = crop, src = 'dialog_bg_1.png'); }
.dialog .b_tr { right: -20px; top: -50px; width: 20px; height: 50px; background: url(dialog_bg_3.png) no-repeat; -background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod = crop, src = 'dialog_bg_3.png'); }
.dialog .b_bl { left: -20px; bottom: -24px; width: 20px; height: 24px; background: url(dialog_bg_6.png) no-repeat; -background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod = crop, src = 'dialog_bg_6.png'); }
.dialog .b_br { right: -20px; bottom: -24px; width: 20px; height: 24px; background: url(dialog_bg_8.png) no-repeat; -background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod = crop, src = 'dialog_bg_8.png'); }
.dialog .b_t { left: 0; top: -50px; width: 100%; height: 50px; background: url(dialog_bg_2.png) repeat-x; -background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod = scale, src = 'dialog_bg_2.png'); }
.dialog .b_b { left: 0; bottom: -24px; width: 100%; height: 24px; background: url(dialog_bg_7.png) repeat-x; -background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod = scale, src = 'dialog_bg_7.png'); }
.dialog .b_l { left: -20px; top: 0; width: 20px; height: 100%; background: url(dialog_bg_4.png) repeat-y; -background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod = scale, src = 'dialog_bg_4.png'); }
.dialog .b_r { right: -20px; top: 0; width: 20px; height: 100%; background: url(dialog_bg_5.png) repeat-y; -background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod = scale, src = 'dialog_bg_5.png'); }
</style>
</head>
<body>
<div id="dialog" class="dialog" style="display: none; position: absolute; left: 150px; top: 150px; padding: 50px 20px 24px;">
  <div class="dialog_wrapper">
    <div class="b_tl"></div>
    <div class="b_tr"></div>
    <div class="b_bl"></div>
    <div class="b_br"></div>

    <div class="b_t"></div>
    <div class="b_b"></div>
    <div class="b_l"></div>
    <div class="b_r"></div>

    <div id="content" style="height: 100%; background: white;">content</div>
  </div>
</div>
<button id="toggle">show/hide</button>
<button id="big">big</button>
<button id="small">small</button>
<script>
execute(function($) {
  var $dialog = $('#dialog');
  var $dialogWrapper = $dialog.getFirstChild();
  var animation = new Animation().addClip(Animation.createStyleRenderer($dialogWrapper, {left: 200, top: 80, width: 640, height: 480, backgroundColor: 'green'}), 0, 2000, 'ease');
  $('#toggle').on('click', function(e) {
    $dialog.setStyle('display', $dialog.offsetWidth ? 'none' : 'block');
    $dialogWrapper.setStyle('display', !$dialog.offsetWidth ? 'none' : 'block');
  });
  $('#big').on('click', function(e) {
    animation.play();
  });
  $('#small').on('click', function(e) {
    animation.reverse();
  });

});

</script>
</body>
</html>
