.calendar { position: absolute; padding: 6px; border: 1px solid silver; border-radius: 3px; background: #EEE; color: navy; font: 14px/20px Verdana, Helvetica, Arial, SimSun, sans-serif; cursor: default; }
/* 控制区 */
.calendar div { width: 218px; height: 20px; text-align: center; }
.calendar div span.btn { position: absolute; top: 6px; width: 28px; height: 20px; border: 1px solid silver; border-radius: 2px; background: whitesmoke; color: #333; }
.calendar div span.btn:hover { background: white; }
.calendar div span.disabled,
.calendar div span.disabled:hover { background: gainsboro; color: gray; }
.calendar div span.prev_year { left: 7px; }
.calendar div span.prev_month { left: 38px; }
.calendar div span.next_year { right: 7px; }
.calendar div span.next_month { right: 38px; }
/* 日期列表 */
.calendar table { table-layout: fixed; border-collapse: separate; border-spacing: 1px; width: 218px; }
.calendar table td { padding: 0; border: 1px solid silver; border-radius: 2px; text-align: center; }
.calendar thead td { border-color: #EEE; font-weight: bold; }
.calendar tbody td { background: whitesmoke; color: #333; }
.calendar tbody td.prev_month.enabled:hover,
.calendar tbody td.next_month.enabled:hover { background: transparent; border-color: yellowgreen; }
.calendar tbody td.enabled:hover { background: greenyellow; border-color: yellowgreen; }
.calendar tbody td.disabled { background: gainsboro; color: gray; }
.calendar tbody td.prev_month,
.calendar tbody td.next_month { border-color: #EEE; background: transparent; }
.calendar tbody td.prev_month.selected_date,
.calendar tbody td.next_month.selected_date,
.calendar tbody td.prev_month.selected_date:hover,
.calendar tbody td.next_month.selected_date:hover { background: transparent; border-color: maroon; }
.calendar tbody td.selected_date,
.calendar tbody td.selected_date:hover { background: #FF7B3A; border-color: maroon; font-weight: bold; text-decoration: underline; }
