/* --------------------------------------------------[Reset] */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
ul, ol { list-style: outside none; }
fieldset, img { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
body, small, sup, sub, button, input, textarea, select { font: 12px/1 Arial, Helvetica, Verdana, SimSun, sans-serif; }
body { line-height: 1.5; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family: Consolas, "Lucida Console", Courier, SimSun, monospace; }
sup, sub { position: relative; vertical-align: baseline; }
sup { top: -3px; }
sub { bottom: -3px; }

/* --------------------------------------------------[Theme] */
/* 字体 */
body,
small,
sup,
sub,
button,
input,
textarea,
select,
kbd,
samp { font-family: Verdana, Helvetica, "Microsoft YaHei", SimSun, sans-serif; }
body { font-size: 14px; }

/* 链接 */
a { text-decoration: none; }
a:link { color: #102197; }
a:visited { color: #396686; }
a:hover { text-decoration: underline; }
a:active { }

/* 元素布局 */
body { padding: 10px; }
fieldset { float: left; margin-right: 10px; padding: 5px; border: 1px solid #d5dfe5; border-radius: 2px; }
legend { margin-left: 5px; color: #ff7300; *margin-left: 0; }

/* 大标题 */
h1 { font-size: 22px; }

/* 章节标题 */
h2 { color: #102197; font-size: 18px; }
h3 { color: #113996; font-size: 16px; }

/* 段落内容 */
dl { margin: 10px 0; }
dt { position: relative; font-weight: bold; }
dd { padding-left: 2em; }
p { margin: 10px 0; }

/* 表格内容 */
th,
td { padding: 2px 5px; border: 1px solid #c0c0c0; font-size: 14px; }
th { background: #f5f5f5; }

/* 列表内容 */
ul,
ol { padding-left: 2em; }
ul { list-style-type: square; }
ol { list-style-type: decimal; }
ul ul,
ol ul { list-style-type: circle; }
ul ol,
ol ol { list-style-type: decimal; }
ol.alpha { list-style-type: lower-alpha; }
em { color: #333; font-style: italic; }

/* 代码 */
pre { margin: 10px 0; padding: 5px; border: 1px solid #DCDCDC; border-radius: 2px; background: #F8F8F8; color: #333; white-space: pre-wrap; word-wrap: break-word; }

p.referral { margin: 10px 0 0; }
p.comment { margin: 0 0 10px; color: #666; font-size: 12px; }

/* 备注 */
blockquote { margin: 10px 0; padding: 0 10px; border: 1px dotted #888; background-image: url(../images/bg_comment.png); color: #333; font-size: 12px; }
