/* --------------------------------------------------[Reset] */
@import url(reset.css);

/* --------------------------------------------------[Theme] */
/* 视口 */
html { overflow-y: scroll; }
body { background-color: white; }

/* 字体（在 reset 的基础上加大字号并加入微软雅黑） */
body,
small,
sup,
sub,
button,
input,
textarea,
select { font-size: 14px; font-family: Verdana, Helvetica, Arial, "Microsoft YaHei", SimSun, sans-serif; }
code,
kbd,
pre,
samp { font-family: Consolas, "Lucida Console", Courier, "Microsoft YaHei", SimSun, monospace; }

/* 链接 */
a { text-decoration: none; }
a:link { color: #102197; }
a:visited { color: #396686; }
a:hover { text-decoration: underline; }
a:active { }
a.link { padding-left: 16px; background: url(../images/link.gif) no-repeat left center; }

/* 标题 */
h1 { margin-bottom: 30px; font-size: 28px; text-align: center; }
h2 { margin: 50px 0 20px; border-bottom: 2px solid silver; font-size: 18px; }
h3 { margin: 30px 0 10px; font-size: 16px; }
h4,
h5,
h6 { margin: 20px 0 5px; font-size: 14px; }

/* 列表 */
ul,
ol { padding-left: 2em; }
ul { list-style-type: square; }
ol { list-style-type: decimal; }
ul ul,
ol ul { list-style-type: circle; }
ul ol,
ol ol { list-style-type: decimal; }

/* 段落 */
fieldset { margin: 10px 0; padding: 5px; border: 1px solid #D5DFE5; border-radius: 2px; }
legend { margin-left: 5px; color: #FF7300; *margin-left: 0; }
dl { margin: 10px 0; }
dt { font-weight: bold; }
dd { padding-left: 2em; }
p { margin: 10px 0; }
em { color: #333; font-style: italic; }

/* 表格 */
th,
td { padding: 2px 5px; border: 1px solid silver; font-size: 14px; }
th { background: whitesmoke; }

/* 代码 */
pre { margin: 10px 0; padding: 5px 10px; border: 1px solid #EEE8AA; border-radius: 3px; background: #FFFFE1; color: #333; white-space: pre-wrap; word-wrap: break-word; }

/* 备注 */
blockquote { margin: 10px 0; padding: 0 10px; border: 1px dotted #888; background-image: url(../images/comment.png); color: #333; font-size: 12px; }
sup { display: inline-block; top: -6px; padding: 0 3px 1px; border-radius: 8px; background: #333; color: white; font-size: 11px; line-height: 1; -webkit-text-size-adjust: none; }
.referral { margin: 10px 0 0; }
.comment { margin: 0 0 10px; color: #666; font-size: 12px; }

/* --------------------------------------------------[Layout] */
/* 容器 */
.container { overflow: hidden; *zoom: 1; }

/* 页头 */
#header { position: fixed; left: 0; right: 0; top: 0; z-index: 1000; min-width: 1000px; background: #323232; opacity: 0.95; -right: auto; -width: 100%; }
#header div { width: 1000px; height: 36px; margin: auto; }
/* LOGO */
#logo { float: left; width: 128px; height: 36px; margin: 0; background: url(../images/logo.png) no-repeat left center; }
#logo a { display: block; width: 79px; height: 36px; margin-left: 12px; }
#logo span { display: none; }
/* GitHub */
#github { float: right; margin: 0; padding: 5px 20px 0; border: none; background: none; }
#github a { display: block; width: 26px; height: 26px; background: url(../images/github.png) no-repeat left top; }
#github a:hover { background-position: left bottom; }
#github span { display: none; }
/* 主菜单 */
#menu { float: left; padding: 0; }
#menu li { float: left; list-style: none; height: 36px; }
#menu li.hover,
#menu li:hover { background: black; }
#menu li a { display: block; height: 36px; padding: 0 25px; color: gainsboro; font-weight: bold; font-size: 14px; line-height: 36px; text-decoration: none; -float: left; }
#menu li a.current { color: #00CCFF !important; }
#menu li.hover a,
#menu li:hover a { color: white; }
/* 子菜单 */
#menu ul { display: none; position: absolute; z-index: 10; width: 200px; height: auto; margin: auto; padding: 0; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); -clear: both; }
#menu ul li { width: 200px; height: 30px; border: none; background: #323232; opacity: 0.95; }
#menu ul li a { width: 200px; height: 30px; padding: 0; line-height: 30px; text-indent: 15px; }
#menu ul li a.folder { background: transparent url(../images/folder.png) no-repeat right center; }
#menu li.hover ul li a,
#menu li:hover ul li a { color: gainsboro; }
#menu li.hover ul li a:hover,
#menu li:hover ul li a:hover { color: white; }
/* 二级以上的子菜单 */
#menu ul ul { margin: -30px auto auto 200px; }

/* 内容 */
#content { width: 960px; min-height: 600px; margin: auto auto 42px; padding: 70px 20px 100px; overflow: hidden; color: #333; font-size: 14px; -height: 600px; -overflow: visible; }

/* 页脚 */
#footer { clear: both; min-width: 1000px; margin-top: -42px; padding: 10px 0; overflow: hidden; background: #323232; opacity: 0.95; color: gainsboro; text-align: center; }
#footer span { font-size: 12px; }
#footer a:link,
#footer a:visited { color: gainsboro; font-weight: bold; }
#footer a:hover { color: white; }

/* 文章提纲 */
#outline { position: fixed; z-index: 10000; top: 120px; width: 32px; }
#outline a.control { display: block; position: relative; z-index: 10; width: 14px; padding: 12px 9px; background: #323232; color: gainsboro; font-weight: bold; line-height: 16px; text-decoration: none; cursor: default; }
#outline div { display: none; position: absolute; right: -10px; top: -16px; z-index: 5; width: 800px; background: #323232; opacity: 0.95; filter: alpha(opacity = 95); }
#outline ul { height: 100%; margin: 16px 50px 16px 16px; padding: 0; overflow-y: auto; line-height: 1.7; }
#outline ul .h1 { list-style: none; text-align: center; font-weight: bold; }
#outline ul .h2 { padding-left: 16px; font-weight: bold; }
#outline ul .h3 { padding-left: 32px; }
#outline ul .dt { padding-left: 60px; }
#outline li a,
#outline li a:visited { color: gainsboro; }
#outline li a:hover { color: white; }
#outline.shown a.control { background: black; color: white; }
#outline.shown div { display: block; }

/* 日志 */
div.widget-logger { background-image: url(../images/logger.png); }
