/* --------------------------------------------------[Index] */
#cutline { margin: 20px 20px 20px 150px; overflow: hidden; }
#cutline ul { float: right; padding-left: 70px; }
#cutline li { margin: 2px 0; font-size: 12px; }
#cutline li.constructor,
#cutline li.static,
#cutline li.instance { list-style: none; padding-left: 2px; }
#cutline li.option { list-style: none; }
#cutline li.option input { vertical-align: text-bottom; }
#cutline li.option label { margin-left: 2px; }
#cutline li.option label:hover { color: #102197; }
#content a:link,
#content a:visited { color: #666; }
#content .column { float: left; width: 310px; padding: 5px; cursor: default; }
#content fieldset { display: block; margin-bottom: 5px; padding: 5px; border: 1px solid #A6AEB3; border-radius: 5px; }
#content fieldset:hover { border-color: gray; }
#content fieldset:hover legend dfn { color: orangered; }
#content legend { padding: 2px 5px; font-weight: bold; font-size: 14px; line-height: 14px; }
#content legend dfn { color: steelblue; }
#content h2 { margin: 0; border-bottom: 1px solid #D5DFE5; color: seagreen; font-weight: normal; font-size: 12px; }
#content dl { margin: 5px 0; padding-left: 2px; border-left: 2px solid white; font-size: 12px; color: #666; }
#content dt { margin: 0; font-weight: normal; font-size: 12px; }
#content .constructor { border-left: 2px solid red; }
#content .static { border-left: 2px solid limegreen; }
#content .instance { border-left: 2px solid mediumorchid; }
#content dd { display: none; margin: 0; padding-left: 0; }
#content.show_short_description dd { display: block; }
#content kbd { font-style: italic; }
#content cite { color: #333; }
#content samp { color: gray; font-style: italic; }
#content dfn { color: steelblue; }
#content var { color: sienna; font-style: italic; }

/* --------------------------------------------------[Details] */
/* layers */
#details_container { display: none; position: fixed; z-index: 20; background: white; border-left: 1px solid dimgray; box-shadow: 0 0 10px black; overflow-x: hidden; overflow-y: auto; }
#details { width: 900px; padding: 40px 0 100px 20px; background: white; color: #333; font-size: 14px; }
#details_close { position: absolute; left: 0; top: 16px; width: 16px; height: 16px; background: url(../images/close.png) no-repeat 0 0; overflow: hidden; cursor: default; }
#details_close:hover { background-position: -16px 0; }
/* symbol */
#details .symbol { margin-bottom: 50px; border: 1px solid silver; border-radius: 5px; }
/* title */
#details h1 { margin: 15px 0; color: orangered; font-size: 22px; }
#details h2 { margin: 10px 0; padding: 2px 5px; background: steelblue; color: white; font-weight: normal; font-size: 16px; }
#details h3 { position: relative; padding: 5px 10px; border-bottom: 1px solid silver; border-radius: 5px 5px 0 0; background: whitesmoke; color: #666; font-size: 16px; *zoom: 1; }
#details h3 span { position: absolute; font-size: 12px; font-weight: normal; }
#details h3 span.comment { right: 0; top: 0; padding: 0 10px 0 15px; border-radius: 0 0 0 20px; background: silver; color: white; }
#details h3 span.patch { background: greenyellow; color: darkgreen; }
#details h3 span.category { right: 10px; bottom: 0; color: silver; }
#details h3 kbd { margin-right: 5px; font-weight: normal; }
/* description */
#details blockquote { margin: 10px; }
#details blockquote table { margin: 5px; border-collapse: collapse; }
#details blockquote th { background: whitesmoke; }
#details blockquote th,
#details blockquote td { padding: 2px 3px; border: 1px solid silver; }
#details kbd { font-style: italic; }
#details cite { color: #333; }
#details samp { color: gray; font-style: italic; }
#details dfn { color: steelblue; }
#details var { color: sienna; font-style: italic; }
#details ul { list-style: circle; padding-left: 2em; }
/* example */
#details pre { margin-bottom: 10px; padding: 5px; border: 1px solid #EEE8AA; border-radius: 2px; background: #FFFFE1; color: #333; white-space: pre-wrap; word-wrap: break-word; }
#details blockquote pre { margin-left: 2em; border-color: #F0FFF0; border-radius: 0; background-color: #F8FFF8; }
/* params deprecated since exceptions returns requires see*/
#details dl { margin: 10px; }
#details dt { font-weight: bold; }
#details dd { padding-left: 2em; }
#details dd table { border-collapse: collapse; }
#details dd tr:nth-child(even) { background: whitesmoke; }
#details dd th,
#details dd td { padding: 2px 3px; vertical-align: top; }
#details dd td em { margin-left: 5px; padding: 0 2px; border-radius: 5px 0; background: gold; color: maroon; font: italic 10px Arial; -webkit-text-size-adjust: none; }
#details .event dd tr:nth-child(even) { background: transparent; }
#details .event dd td th { background: whitesmoke; }
#details .event dd td th,
#details .event dd td td { border: 1px solid silver; }
