/* --------------------------------------------------[Reset] */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
ul, ol { list-style: outside none; }
fieldset, img { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
body, small, sup, sub, button, input, textarea, select { font: 12px/1 Arial, Helvetica, Verdana, SimSun, sans-serif; }
body { line-height: 1.5; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family: Consolas, "Lucida Console", Courier, SimSun, monospace; }
sup, sub { position: relative; vertical-align: baseline; }
sup { top: -3px; }
sub { bottom: -3px; }

/* --------------------------------------------------[Theme] */
/* 字体 */
body,
small,
sup,
sub,
button,
input,
textarea,
select,
kbd,
samp { font-family: Verdana, Helvetica, "Microsoft YaHei", SimSun, sans-serif; }

/* 链接 */
a { text-decoration: none; }
a:link { color: #102197; }
a:visited { color: #396686; }
a:hover { text-decoration: underline; }
a:active { }

/* 整体内容 */
#content { padding-bottom: 100px; color: #333; font-size: 14px; }

/* 标题 */
#content h1 { margin-bottom: 30px; font-size: 28px; text-align: center; }
#content h2 { margin: 30px 0 20px; font-size: 18px; }
#content h3 { margin: 10px 0; font-size: 16px; }

/* 段落 */
#content dt { margin: 10px 0; font-weight: bold; }
#content dd { margin: 10px 0; padding-left: 2em; }
#content p { margin: 10px 0; }
#content ul,
#content ol { padding-left: 2em; }
#content ul { list-style-type: square; }
#content ol { list-style-type: decimal; }
#content ul ul,
#content ol ul { list-style-type: circle; }
#content ul ol,
#content ol ol { list-style-type: decimal; }
#content blockquote { margin: 10px 0; padding: 0 10px; border: 1px dotted #888; background-image: url(../images/bg_comment.png); color: #333; font-size: 12px; }
#content em { color: #333; font-style: italic; }
#content sup { display: inline-block; top: 0; padding: 0 3px 3px; border-radius: 8px; background: #333; color: white; font-size: 9px; line-height: 1; vertical-align: top; -webkit-text-size-adjust: none; }
#content p.comment { margin: 0 0 10px; color: #666; font-size: 12px; }
#content ul.example { list-style-type: circle; padding: 5px 5px 5px 2em; border: 1px solid #dcdcdc; border-radius: 5px; background: #f5f5f5; }
#content ul.example li { margin: 15px 0; }
#content ul.example p { margin: 5px 0; }
#content ul.example code { color: sienna; }

/* 代码 */
#content pre { padding: 5px; border: 1px solid #f0fff0; border-left-width: 5px; background: #f8fff8; color: #333; white-space: pre-wrap; word-wrap: break-word; }
#content pre dfn,
#content code dfn { color: #338; font-weight: bold; }
#content pre var,
#content code var { color: #55a; font-weight: normal; }
#content pre kbd,
#content code kbd { color: #b43; font-weight: normal; }
#content pre samp,
#content code samp { color: #987; font-weight: normal; font-style: italic; }
#content pre span,
#content code span { border: 1px solid #9acd32; background: #f8fff8; }
