.calendar
{
	width: 175px;
	height: 160px;
	cursor: default;
}
.calendar div
{
	width: 175px;
	height: 20px;
	text-align: center;
	background: #ffd711;
}
.calendar div button
{
	margin: 5px 2px;
	padding: 0px;
	width: 11px;
	height: 11px;
	border: 0px none;
	cursor: pointer;
}
.calendar div span
{
	margin: 2px;
}
.calendar div button.p_y-out
{
	background: url("button.gif") 0px 0px;
}
.calendar div button.p_y-over
{
	background: url("button.gif") 0px -11px;
}
.calendar div button.p_y-down
{
	background: url("button.gif") 0px -22px;
}
.calendar div button.p_y-disabled
{
	background: url("button.gif") 0px -33px;
}
.calendar div button.p_m-out
{
	background: url("button.gif") -11px 0px;
}
.calendar div button.p_m-over
{
	background: url("button.gif") -11px -11px;
}
.calendar div button.p_m-down
{
	background: url("button.gif") -11px -22px;
}
.calendar div button.p_m-disabled
{
	background: url("button.gif") -11px -33px;
}
.calendar div button.n_m-out
{
	background: url("button.gif") -22px 0px;
}
.calendar div button.n_m-over
{
	background: url("button.gif") -22px -11px;
}
.calendar div button.n_m-down
{
	background: url("button.gif") -22px -22px;
}
.calendar div button.n_m-disabled
{
	background: url("button.gif") -22px -33px;
}
.calendar div button.n_y-out
{
	background: url("button.gif") -33px 0px;
}
.calendar div button.n_y-over
{
	background: url("button.gif") -33px -11px;
}
.calendar div button.n_y-down
{
	background: url("button.gif") -33px -22px;
}
.calendar div button.n_y-disabled
{
	background: url("button.gif") -33px -33px;
}
.calendar table td
{
	width: 25px;
	height: 20px;
	text-align: center;
	line-height: 20px;
}
.calendar table thead
{
	background: #396686;
}
.calendar table thead td
{
	color: white;
}
.calendar table tbody
{
	background: #f5f5f5;
}
.calendar table tbody td
{
	font-size: 11px;
}
.calendar table tbody td.enabled
{
	cursor: pointer;
}
.calendar table tbody td.disabled
{
	background: #dcdcdc;
}
.calendar table tbody td.previous_month,
.calendar table tbody td.next_month
{
	color: #c0c0c0;
}
.calendar table tbody td.this_month
{
	color: #000000;
}
.calendar table tbody td.current_day
{
	font-weight: bold;
	text-decoration: underline;
}
.calendar table tbody td.hover
{
	background: #ffffff;
}
