/* 月历容器 */
.calendar { padding: 6px; border: 1px solid silver; border-radius: 3px; background: #EEE; color: navy; font: 14px/20px Verdana, Helvetica, Arial, SimSun, serif; cursor: default; }
/* 控制区 */
.calendar div { position: relative; width: 218px; height: 22px; line-height: 22px; text-align: center; }
.calendar span.btn { position: absolute; top: 0; width: 28px; height: 20px; border: 1px solid silver; border-radius: 2px; background: whitesmoke; color: #333; line-height: 20px; }
.calendar span.btn:hover { background: white; }
.calendar span.disabled,
.calendar span.disabled:hover { border-color: #E0E0E0; background: transparent; color: #E0E0E0; }
.calendar span.prev_year { left: 1px; }
.calendar span.prev_month { left: 32px; }
.calendar span.next_year { right: 1px; }
.calendar span.next_month { right: 32px; }
/* 日期列表 */
.calendar table { table-layout: fixed; border-collapse: separate; border-spacing: 1px; width: 218px; margin-top: 2px; }
.calendar table td { padding: 0; border: 1px solid silver; border-radius: 2px; text-align: center; }
.calendar thead td { border-color: #EEE; font-weight: bold; }
.calendar tbody td { background: whitesmoke; color: #333; }
.calendar td.disabled { border-color: #E0E0E0; background: transparent; color: #E0E0E0; }
.calendar td.prev_month,
.calendar td.next_month { border-color: #EEE; background: transparent; }
.calendar td.today { font-weight: bold; text-decoration: underline; }
