/* --------------------------------------------------[Reset] */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
ul, ol { list-style: outside none; }
fieldset, img { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
body, small, sup, sub, button, input, textarea, select { font: 12px/1.5 Arial, Helvetica, Verdana, SimSun, serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family: Consolas, "Lucida Console", Courier, SimSun, monospace; }
sup, sub { position: relative; vertical-align: baseline; }
sup { top: -3px; }
sub { bottom: -3px; }

/* --------------------------------------------------[Symbols] */
/* page */
body { width: 800px; margin: auto; font-family: Arial, Helvetica, Verdana, "Microsoft YaHei", SimSun, serif; }

/* class */
h1 { margin: 15px 0; color: orangered; font-size: 22px; }
h2 { margin: 10px 0; padding: 2px 5px; background: steelblue; color: white; font-weight: normal; font-size: 16px; }
h3 { margin: 5px 0; font-weight: normal; font-size: 16px; }

/* constructor properties methods */
fieldset { display: block; margin-bottom: 5px; padding: 5px; border: 1px solid #d5dfe5; }
legend { height: 14px; padding: 0 5px; color: #d5dfe5; font-size: 14px; line-height: 14px; }

/* syntax */
code { font-family: Consolas, "Lucida Console", Courier, "Microsoft YaHei", SimSun, monospace; }
samp { font-style: italic; color: #345; }
kbd { color: #666; }
dfn { font-weight: bold; color: steelblue; }
var { font-style: italic; color: goldenrod; }
h3 kbd,
h3 var { padding-right: 5px; }
h3 dfn { padding-right: 2px; }

/* desc */
blockquote { margin: 10px 0; color: #333; font-size: 14px; }
blockquote table { margin: 5px; border-collapse: collapse; }
blockquote table th { background: whitesmoke; }
blockquote table th,
blockquote table td { padding: 2px 3px; border: 1px solid silver; }

/* example */
pre { padding: 5px; border: 1px solid #f0fff0; border-left-width: 5px; background: #f8fff8; color: #333; white-space: pre-wrap; word-wrap: break-word; }

/* params deprecated since exceptions returns requires see*/
dl { margin: 10px 0; }
dt { font-weight: bold; }
dd { padding-left: 2em; }
dd table { border-collapse: collapse; }
dd table tr:nth-child(even) { background: whitesmoke; }
dd table td { padding: 2px 3px; }
dd table td em { margin-left: 5px; padding: 0 2px; border-radius: 5px 0; background: greenyellow; color: #666; font-style: italic; font-size: 10px; -webkit-text-size-adjust: none; }
